@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.codeline{
    @apply bg-gray-200 px-2 rounded-md;
}
.wrap { 
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
 }
 html{
    scroll-behavior: smooth;
 }